# Avocado Prices and Sales Volume 2015-2023

In [ ]:
from IPython.display import Image
Image(url='https://www.buygrow.co.za/cdn/shop/products/FuerteAvocadoWB.png?v=1675280423')

# Table of Contents
- [1. Project Overview](#1-project-overview)
  - [1.1 Introduction](#11-introduction)
  - [1.2 Problem Statement](#12-problem-statement)
  - [1.3 Objectives](#13-objectives)
- [2. Importing Packages](#2-importing-packages)
- [3. Loading Data](#3-loading-data)
- [4. Data Cleaning](#4-data-cleaning)
- [5. Exploratory Data Analysis (EDA)](#5-exploratory-data-analysis-eda)
- [6. Conclusion](#6-conclusion)

### 1. Project Overview

##### 1.1 Introduction

##### 1.2 Problem Statement

##### 1.3 Objectives

### 2. Importing Packages

In [67]:
# Libraries for data loading, manipulation and analysis

import numpy as np
import pandas as pd
import csv
import seaborn as sns
import matplotlib.pyplot as plt

# Displays output inline
%matplotlib inline

# Libraries for Handing Errors
import warnings
warnings.filterwarnings('ignore')

### 3. Loading Data

The data used for this project was located in the Avocado_HassAvocadoBoard_20152023v1.0.1.csv file. To better manipulate and analyse the Avocado_HassAvocadoBoard_20152023v1.0.1.csv file, it was loaded into a Pandas Data Frame using the Pandas function, .read_csv().

In [69]:
# loading dataset
df = pd.read_csv("Avocado_HassAvocadoBoard_20152023v1.0.1.csv", index_col=False)

Check the DataFrame to see if it loaded correctly.

In [71]:
df.head()

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington

In [73]:
# Displays the number of rows and columns
df.shape

(53415, 12)

Results : The dataset consists of 53415 rows (observations) and 12 columns (features).

In [75]:
## Display summary information about the DataFrame.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB

In [15]:
df.describe()

,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags
count,53415.000000,5.341500e+04,5.341500e+04,5.341500e+04,5.341500e+04,5.341500e+04,4.102500e+04,4.102500e+04,41025.000000
mean,1.428910,8.694474e+05,2.982707e+05,2.222170e+05,2.053195e+04,2.175083e+05,1.039222e+05,2.331316e+04,2731.811796
std,0.393116,3.545274e+06,1.307669e+06,9.554624e+05,1.040977e+05,8.676947e+05,5.692608e+05,1.496622e+05,22589.096454
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,1.119091,1.626465e+04,6.947250e+02,2.120800e+03,0.000000e+00,7.846520e+03,0.000000e+00,0.000000e+00,0.000000
50%,1.400000,1.203525e+05,1.458058e+04,1.751663e+04,9.005000e+01,3.695310e+04,6.945800e+02,0.000000e+00,0.000000
75%,1.690000,4.542380e+05,1.287924e+05,9.351560e+04,3.599735e+03,1.110146e+05,3.795298e+04,2.814920e+03,0.000000
max,3.440830,6.103446e+07,2.544720e+07,2.047057e+07,2.860025e+06,1.629830e+07,1.256716e+07,4.324231e+06,679586.800000

### 4. Data Cleaning

In [77]:
# Creating a copy of the dataframe where the cleaning will be made
df_copy = df
df_copy

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
0,2015-01-04,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,Albany
1,2015-01-04,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,Albany
2,2015-01-04,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,Atlanta
3,2015-01-04,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,Atlanta
4,2015-01-04,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,BaltimoreWashington
...,...,...,...,...,...,...,...,...,...,...,...,...
53410,2023-12-03,1.550513,5693.91,204.64,1211.25,0.00,4278.03,NaN,NaN,NaN,organic,Toledo
53411,2023-12-03,1.703920,343326.10,66808.44,132075.11,58.65,138830.45,NaN,NaN,NaN,organic,West
53412,2023-12-03,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,NaN,NaN,NaN,organic,WestTexNewMexico
53413,2023-12-03,1.245406,2942.83,1058.54,7.46,0.00,1779.19,NaN,NaN,NaN,organic,Wichita
53414,2023-12-03,1.479240,2010020.72,271808.32,274480.64,63.43,1364514.02,NaN,NaN,NaN,organic,TotalUS

In [79]:
# Retrieving columns containing null values
# Only 3 columns contain null values, all of which are of float data type
df_copy.isnull().any()

Date            False
AveragePrice    False
TotalVolume     False
plu4046         False
plu4225         False
plu4770         False
TotalBags       False
SmallBags        True
LargeBags        True
XLargeBags       True
type            False
region          False
dtype: bool

In [95]:
# Replacing the NaN values with their respective column means

df_copy['SmallBags'] = df_copy['SmallBags'].astype(str)
df_copy['SmallBags'].replace('NaN', None)
df_copy['SmallBags'] = df_copy['SmallBags'].astype(float)
df_copy['SmallBags'].fillna(df_copy['SmallBags'].mean(), inplace=True)

df_copy['LargeBags'] = df_copy['LargeBags'].astype(str)
df_copy['LargeBags'].replace('NaN', None)
df_copy['LargeBags'] = df_copy['LargeBags'].astype(float)
df_copy['LargeBags'].fillna(df_copy['LargeBags'].mean(), inplace=True)

df_copy['XLargeBags'] = df_copy['XLargeBags'].astype(str)
df_copy['XLargeBags'].replace('NaN', None)
df_copy['XLargeBags'] = df_copy['XLargeBags'].astype(float)
df_copy['XLargeBags'].fillna(df_copy['XLargeBags'].mean(), inplace=True)

df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     53415 non-null  float64
 8   LargeBags     53415 non-null  float64
 9   XLargeBags    53415 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB

In [109]:
# Adding a 'Year' column which holds the year value from the 'Date' column
df_copy['Year'] = df_copy['Date'].str.slice(0, 4).astype(int)

# Adding a 'Month' column which holds the month value from the 'Date' column
df_copy['Month'] = df_copy['Date'].str.slice(5, 7).astype(int)

df_copy

,Date,AveragePrice,TotalVolume,plu4046,plu4225,plu4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,Year,Month
0,2015-01-04,1.220000,40873.28,2819.50,28287.42,49.90,9716.46,9186.930000,529.530000,0.000000,conventional,Albany,2015,1
1,2015-01-04,1.790000,1373.95,57.42,153.88,0.00,1162.65,1162.650000,0.000000,0.000000,organic,Albany,2015,1
2,2015-01-04,1.000000,435021.49,364302.39,23821.16,82.15,46815.79,16707.150000,30108.640000,0.000000,conventional,Atlanta,2015,1
3,2015-01-04,1.760000,3846.69,1500.15,938.35,0.00,1408.19,1071.350000,336.840000,0.000000,organic,Atlanta,2015,1
4,2015-01-04,1.080000,788025.06,53987.31,552906.04,39995.03,141136.68,137146.070000,3990.610000,0.000000,conventional,BaltimoreWashington,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53410,2023-12-03,1.550513,5693.91,204.64,1211.25,0.00,4278.03,103922.170677,23313.164066,2731.811796,organic,Toledo,2023,12
53411,2023-12-03,1.703920,343326.10,66808.44,132075.11,58.65,138830.45,103922.170677,23313.164066,2731.811796,organic,West,2023,12
53412,2023-12-03,1.618931,34834.86,15182.42,1211.38,0.00,18075.66,103922.170677,23313.164066,2731.811796,organic,WestTexNewMexico,2023,12
53413,2023-12-03,1.245406,2942.83,1058.54,7.46,0.00,1779.19,103922.170677,23313.164066,2731.811796,organic,Wichita,2023,12
53414,2023-12-03,1.479240,2010020.72,271808.32,274480.64,63.43,1364514.02,103922.170677,23313.164066,2731.811796,organic,TotalUS,2023,12

In [113]:
# Run this to set the changes made on 'df_copy' to the main dataframe 'df'
df = df_copy
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     53415 non-null  float64
 8   LargeBags     53415 non-null  float64
 9   XLargeBags    53415 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
 12  Year          53415 non-null  int32
 13  Month         53415 non-null  int32
dtypes: float64(9), int32(2), object(3)
memory usage: 5.3+ MB

### 5. Exploratory Data Analysis (EDA)

### 6. Conclusion